@using MusicApp.Media

<div class="p-xl-2">
    <nav aria-label="Page navigation ea">
        <ul class="pagination">
           @foreach (var pageItem in pageItems)
            {
                <li @onclick="@(() => SelectCurrentPage(pageItem))" style="cursor:pointer" class="page-item @(pageItem.Active ? "active" : null) @(pageItem.Enabled ? null : "disabled")">
                    <span href="#" class="page-link">@pageItem.Text</span>
                </li>
            }
        </ul>
    </nav>
</div>


@code {
    private List<PageItem> pageItems;

    [Parameter] 
    public int PageIndex {get; set;}
    [Parameter] 
    public int TotalPages {get; set;}
    [Parameter] 
    public int Radius {get; set;}
    [Parameter] 
    public EventCallback<int> OnSelectPage {get; set;}

    protected override void OnParametersSet()
    {
        CreatePages();
    }

    private void CreatePages()
    {
        pageItems = new List<PageItem>();

            // 1. Create prev page
            var hasPreviousPage = PageIndex > 1;
            var previousPageIndex = PageIndex -1;
            pageItems.Add(new PageItem(previousPageIndex, hasPreviousPage, "Prev"));

            // 2, Create page, add to pageItem list
            if (Radius >= TotalPages)
            
                Radius = TotalPages - 1;
            
            for(int i =1; i<=TotalPages; i++)
            {
                if(i >= PageIndex - Radius && i < PageIndex + Radius)
                {
                    pageItems.Add(new PageItem(i, true, i.ToString())
                    {
                        Active = PageIndex == i
                    });
                }
            }


            // 3. Create next page
            var hasNextPage = PageIndex < TotalPages;
            var nextPageIndex = PageIndex + 1;
            pageItems.Add(new PageItem(nextPageIndex, hasNextPage, "Next"));
    }

    private async Task SelectCurrentPage(PageItem pageItem)
    {
        if (PageIndex == pageItem.PageIndex)
        {
            return;
        }
        if(!pageItem.Enabled)
        {
            return;
        }

        PageIndex = pageItem.PageIndex;
        await OnSelectPage.InvokeAsync(pageItem.PageIndex);
    }
}




@* @page "/chartlist"

@inject HttpClient Http
@using MusicApp.Media
@inject IMediaService MusicService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using System.Collections;
@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Mvc.Rendering;






<PageTitle>Chart list</PageTitle>


<div>
        <h1>Your Page</h1>
        <Pagination PageSize="10" Items="@(ChartListData.countries.SelectMany(c => c.cities))">
                <div class="chart-list__container">
            @foreach (var city in context.PagedItems)
            {
                                <h6>@city.name</h6>
            }
                    </div>
            </Pagination>
</div>

<div class="pagination">
    <button disabled="@IsFirstPage" @onclick="GoToPreviousPage">Previous</button>
    <button disabled="@IsLastPage" @onclick="GoToNextPage">Next</button>
</div>


@code {
    private ChartList ChartListData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ChartListData = await Http.GetFromJsonAsync<ChartList>("/chartlist");
    }
}




@code {
    [Parameter]
    public int PageSize { get; set; } = 10;

    private int _currentPage = 1;

    private bool IsFirstPage => _currentPage == 1;

    private bool IsLastPage => _currentPage == TotalPages;

    private int TotalPages => (int)Math.Ceiling((double)Items.Count() / PageSize);

    private IEnumerable<TItem> PagedItems => Items.Skip((_currentPage - 1) * PageSize).Take(PageSize);

    private void GoToPreviousPage()
    {
        if (!IsFirstPage)
        {
            _currentPage--;
        }
    }

    private void GoToNextPage()
    {
        if (!IsLastPage)
        {
            _currentPage++;
        }
    }
}



<style>
    body {
        background: linear-gradient(to top right, #957dee, #c654c7, #edb669);
        color: #ffffff;
        font-family: "Poppins", sans-serif;
    }

    .trending__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
    }

    .item__body {
        margin-right: 20px;
        padding: 5px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .audio-controls {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .icon {
        margin: 0 10px;
        cursor: pointer;
    }

    .audio-bar {
        flex-grow: 1;
        margin: 0 10px;
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: linear-gradient(to top right, #957dee, #c654c7, #edb669);
    }

    .close {
        color: white !important;
        font-size: 24px;
        font-weight: 700;
        align-self: flex-end;
        margin-top: -20px;
        margin-right: -10px;
        cursor: pointer;
    }

    .modal_title {
        color: white !important;
    }

    .media-player .controls {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        -webkit-box-align: center;
        align-items: center;
        background-color: white !important;
        bottom: 0;
        display: -webkit-box;
        display: flex;
        flex-flow: row nowrap;
        height: auto;
        justify-content: flex-start;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2147483647;
    }

    .media-player .volume {
        -webkit-box-ordinal-group: 8;
        background: white !important;
        display: none;
        order: 7;
        padding: 0 .625rem;
        width: 96px;
    }

    .media-player .info-box {
        -webkit-box-ordinal-group: 5;
        background: #ffffff !important;
        border: none;
        color: #000000 !important;
        display: block;
        flex-shrink: 1;
        font-size: .6875rem;
        height: 36px;
        order: 4;
        padding: .625rem;
        position: relative;
        text-align: center;
        white-space: nowrap;
        width: auto;
        color: #000;
        background: white;
    }

    .loop {
        background: #ffffff !important;
    }

    /* Header styles */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .logo-holder {
        width: 30px !important;
        height: 30px !important;
        border-radius: 25px;
        background: #fb1d5a;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 20px !important;
        height: 20px !important;
    }

    .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    .menu-item {
        color: #0056b3;
        margin-right: 20px;
        cursor: pointer;
    }

    .menu-item:hover {
        color: #fb1d5a;
    }

    /* Main content styles */
    .main-content {
        margin-top: 20px;
    }

    /* Footer styles */
    .footer {
        color: #0071c1;
        font-weight: 300;
        font-size: 12px;
        margin: 40px 0 40px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        border-radius: 32px !important;
    }

    .item__body .card-subtitle,
    .item__bg .card-subtitle {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
    }

    .item__body .card-text,
    .item__bg .card-text {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: -4px;
        margin-top: 1px;
        color: #f52264;
    }



    .card-img {
        border-radius: 100px !important;
    }

    .item__bg {
        margin-right: 20px;
        padding: 15px;
    }

    .item__bg:hover,
    .item__bg:active {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        border: none;
        text-align: left;
        padding: 8px;
    }

    .table-img {
        width: 30px !important;
        border-radius: 15px !important;
    }

    .table tbody td {
        padding: .3rem !important;
        vertical-align: middle;
    }

    .table thead {
        border-bottom: none !important;
    }

    .media-player .controls {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        -webkit-box-align: center;
        align-items: center;
        bottom: 0;
        display: -webkit-box;
        display: flex;
        flex-flow: row nowrap;
        height: auto;
        justify-content: flex-start;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2147483647;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .sidebar {
        width: 20vw;
    }

    .mediatable {
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

    }

    .table-rows {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .img-holder {
        min-width: 30px !important;
    }

    .table-header {
        width: calc(100% / 7);
        color: #ffffff !important;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300 !important;
        font-family: "Poppins", sans-serif;
    }

    .td-style {
        color: #ffffff;
        font-size: 12px;
        font-weight: 200 !important;
        text-transform: capitalize !important;
    }

    .capitalized {
        text-transform: lowercase !important;
    }

    .play-icon {
        display: none;
        cursor: pointer;
    }

    .play {
        font-size: 11px;
        text-decoration: none;
        cursor: pointer;
    }

    .play-icon:hover {
        display: block;
        color: #ff0000;
    }

    .play-img img {
        max-width: 30px !important;
        cursor: pointer;
    }

    .table-holder {
        padding: 50px;
    }

    .media-details {
        padding: 2px;
    }

    .table-container {
        border-radius: 32px;
        background: linear-gradient(to top right, #957dee, #c654c7, #edb669);
    }

    #imagePopup {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #imagePopup {
        width: 800px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
    }

    .close {
        color: white;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
    }
</style> *@
